<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IDENTIFY AS</title>
    <link href="../public/home.css" rel="stylesheet" />
  </head>
  <body>
    <card>
      <content>
        <h2>
          <%if(!state) {%>
          <a href="/login">Login</a>
          <%}else {%>
          <a href="/logout">Logout</a>
          <%}%>
        </h2>
        <form action="/chat" method="post">
          <header>WHAT IS YOUR NAME??</header>
          <input name="name" type="text" required />
          <button type="submit">OK</button>
        </form>
      </content>
    </card>
  </body>
</html>
