body {
    background-color: rgb(79, 135, 156);
    margin:10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid 5px;
    border-radius: 0.5rem;
    background: linear-gradient(to bottom right, rgb(219, 208, 111), rgb(171, 6, 1));
    height: 100px;
    width: 300px;
    box-shadow: 10px 120px 100px rgb(65, 45, 45);
}

header{
    padding-bottom: 2px;
    text-align: center;
}

header,.name{
    font-size: large;
    font-family: monospace;
}

button{
    background:radial-gradient(rgb(250, 216, 216),rgb(221, 221, 251));
}