
name{
    width: 15%;
}

.log{
    background-color: rgb(202, 242, 3);
    border: solid 1px ;
    width:auto;
    display: flex;
    justify-content: right;
    font-size: medium;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 5px;
}

.my{
    background-color: rgb(173, 255, 202);
    border: solid 1px ;
    width:auto;
    display: flex;
    justify-content: left;
    font-size: medium;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 5px;
}

body{
    background-color: rgb(242, 255, 179);
    border: solid 2px ;
    border-radius: 1rem;
    height: 100%;
    width: auto;
    text-align: center;
}

.msg{
    display: flex;
    /* justify-content: left; */
    flex-direction: column;
}

.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row;
}

textarea{
    width: 100%;
    border: 5px;
}

#temp{
    background-color: rgb(183, 244, 117);
}